html, body {
    background-color: #eee;
}
body {
    padding-top: 40px;
}
.content {
    background-color: #fff;
    padding: 20px;
}
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

.form {
    padding: 20px;
}

.float {
    float: left;
}